* {
  margin: 0px;
  padding: 0px;
}
.container {
  width: 70%;
  text-align: center;
  margin: auto;
  top: 0px;
}

.dice {
  margin: 10px;
  text-align: center;
  display: inline-block;
}
.main_div {
  display: flex;
  position: fixed;

}
body {
  background-color: #393E46;
}

#reset {
  height: 80px;
  width: 100px;
  margin-top: 10px;
  margin-left: 650px;
  font-size: 2rem;
  border-radius: 50%;
  background-color: green;
}
#reset:hover {
  transform: scale(1.1);
}
.img1, .img2 {
  height: 250px;
  width: 250px;
}
h1, h2 {
  margin-left: 10px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  text-align: center;
  font-size: 4rem;
  color: #4ECCA3;
}
h1:hover {
  transform: scale(1.1);
}
a {
  text-decoration: none;
}
p {
  margin: 20px;
  text-align: center;
  font-size: 1.5rem;
  color: #4ECCA3;
  display: block;
}

img {
  width: 80%;
}

footer {
  font-size: 1.5rem;
  margin-top: 5%;
  color: #da5d5d;
  text-align: center;
  font-family: serif, cursive;

}
.img1, .img2{
  animation: rotate 1s ease-out;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
  
}

@media (max-width: 1024px) {
  .container {
    width: 90%;
  }

  h1, h2 {
    font-size: 3rem;
  }

  p {
    font-size: 1.8rem;
  }

  img {
    width: 90%;
    display: inline-block;
  }
}

@media (max-width: 768px) {
  #reset {
    margin-left: 250px;
    height: auto;
    border-radius: 30%;
  }
  h1, h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1.5rem;
  }

  img {
    width: 100%;
    display: inline-block;
  }

  footer {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  #reset {
    margin-left: 180px;
    height: auto;
    border-radius: 20%;
  }
  h1, h2 {
    font-size: 1.5rem;
  }
  .img1, .img2 {
    height: 150px;
    width: 150px;
  }
  img {
    display: inline-block;
  }

  p {
    font-size: 1.2rem;
  }

  footer {
    font-size: 1rem;
  }
}


